<h3>Teams con <%= @nombre.name %>
</h3>
<% @teams.each do |team| %>
 
<% if !Top.where(:team1_id=>team.id).empty? %>
1er Lugar - 
<% @nom = Top.where(:team1_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team2_id=>team.id).empty? %>
2do Lugar - 
<% @nom = Top.where(:team2_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team3_id=>team.id).empty? %>
Top4 - 
<% @nom = Top.where(:team3_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team4_id=>team.id).empty? %>
Top4 - 
<% @nom = Top.where(:team4_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team5_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team5_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team6_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team6_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team7_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team7_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team8_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team8_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% else %>
<%= team.desc %>
<% end %>

 <br>

 <%= cl_image_tag(team.pokemon1_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon6_id.to_s+".png") %>
<br>
<% @recursos=Recurso.where(:team_id=>team.id) %>
 <% @recursos.each do |recurso| %>
   <%= link_to recurso.descripcion,recurso.url%>
   <br>
 <% end %>


<% if current_user and (current_user.admin  or current_user.mod) %> 
 <br>
<%= link_to 'Agregar recurso',:controller=>'players',:action=>'recursos_new',:id=>team.id  %>
<% end %>
<br>
 <% end %>

 <%= paginate @teams , :pagination_class => "pagination-centered" %>
