<h3>Torneos</h3>
<%= form_tag '/teams', :method => 'get' do %>
País:<%= country_select("teams", "country", priority_countries: ["CL", "AR", "PE", "CO", "EC","MX","CR","BO","BR","GT"], :include_blank => '') %>
Formato:<%= select("teams", "formato", [['VGC17', 'VGC17'], ['VGC16', 'VGC16'], ['VGC15', 'VGC15']], :include_blank => '') %>
Tipo Torneo:<%= select("teams", "tipo_torneo", [['Premier', 'Premier'], ['MSS', 'MSS'], ['Regional', 'Regional'], ['Nacional', 'Nacional'], ['Continental', 'Contintental'], ['Otro', 'Otro']], :include_blank => '') %>
  <%= submit_tag t("search_desc.filter") , :name => nil, :class => "search-me btn btn-primary"  %>
<% end %>
<%= form_tag '/teams/filter', :method => 'get' do %>
Buscar teams con: 
<%= select_tag "pokemon", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name") %>
<%= submit_tag t("search_desc.filter") , :name => nil, :class => "search-me btn btn-primary"  %> 
<% end %>
<% if current_user and (current_user.admin  or current_user.mod) %>
<%= link_to "Agregar Top8",{ :controller=>"teams",:action=>"new"}, :class => 'btn btn-primary'  %>
<br>
<% end %>
 <% @tops.each do |top| %>
 <h4>
<%= top.fecha %> <%= top.country%> <%= top.nombre_torneo %> <%= link_to "Ver Top8", {:controller=>"teams",:action=>"show",:id=>top.id}, :class => 'btn btn-default' %>
 </h4>
 <% end %>
 <%= paginate @tops , :pagination_class => "pagination-centered" %>


