<h1><%=t('add_top.title')%></h1>
<%= form_tag("/top/new", method: "get") do %>

   <%=t('add_top.name')%>:
  <%= text_field(:top, :nombre_torneo, :required => true) %>
<br>
  <%=t('type')%>:
   <%= select(:top, :tipo_torneo, [['Premier', 'Premier'], ['MSS', 'MSS'], ['Special Event', 'Special Event'], ['Regional', 'Regional'], ['Nacional', 'Nacional'], ['Continental', 'Contintental'], ['Otro', 'Otro']], { :include_blank => true }, :required => true) %>
<br>
  <%=t('format')%>:
 <%= select(:top, :formato, [['VGC20', 'VGC20'], ['VGC19-Ultra', 'VGC19-Ultra'], ['VGC19-Moon', 'VGC19-Moon'], ['VGC19-Sun', 'VGC19-Sun'], ['VGC18', 'VGC18'], ['VGC17', 'VGC17'], ['VGC16', 'VGC16'], ['VGC15', 'VGC15']]) %>

 <br><%=t('date1')%>:
 <%= select_date Date.today, prefix: :top %><br>
<%=t('country')%>:
<%= country_select("top", "country", selected: "", {priority_countries: ["CL", "AR", "PE", "CO", "EC","MX","CR","BO","BR","GT","PY","UY","SV", ""]}, include_blank: true) %>
<br><br>

1st Place
<%= select_tag "player1", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon11", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon12", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon13", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon14", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon15", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon16", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<br>2nd Place
<%= select_tag "player2", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon21", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon22", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon23", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon24", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon25", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon26", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<br>Top4
<%= select_tag "player3", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon31", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon32", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon33", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon34", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon35", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon36", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<br>Top4
<%= select_tag "player4", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon41", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon42", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon43", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon44", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon45", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon46", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<br>Top8
<%= select_tag "player5", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon51", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon52", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon53", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon54", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name") , :include_blank => true%>
<%= select_tag "pokemon55", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon56", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<br>Top8
<%= select_tag "player6", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon61", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon62", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon63", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon64", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon65", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon66", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<br>Top8
<%= select_tag "player7", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon71", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon72", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon73", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon74", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name") , :include_blank => true%>
<%= select_tag "pokemon75", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon76", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<br>Top8
<%= select_tag "player8", options_from_collection_for_select(@Players, "id", "name"), :include_blank => true %>
<br><%= select_tag "pokemon81", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon82", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon83", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon84", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon85", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
<%= select_tag "pokemon86", options_from_collection_for_select(@Pokes, "pokemon_species_id", "name"), :include_blank => true %>
  <br><%= submit_tag(t("submit")) %>
<% end %>
