<!DOCTYPE html>

<html>
<head>
  <title>VGCsets</title>
 

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<div id="fb-root" data-turbolinks-permanent></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

document.addEventListener("turbolinks:load", function() {
  if(window.FB) {
    FB.XFBML.parse();
  }
});
</script>

<style>
body {
    max-width: 810px;
    }
body{ padding-left: 10px; }
</style>

</head>
<body>



<h2><%= @tops.nombre_torneo %></h2>

<h4></h4>
<%= t('date1')%>: <%= @tops.fecha %>
<br>
<%= t('format')%>: <%= @tops.formato %>
<br>
<%= t('country')%>: <%= ISO3166::Country[@tops.country] %> 



<h5>
<%= image_tag("http://en.vgcsets.com/flags/"+@player1.country.downcase+".png") %>
<%= t('first')%>
<% if @player1.nickname.blank? %>
<%= link_to @player1.name, :controller => "players",:action => "show",:id => @player1.id %>
<% else %>
<%= @player1.name %> 
(<%= link_to @player1.nickname, @player1 %>)
<% end %>
</h5>

 <%= cl_image_tag(@team1.pokemon1_id.to_s+".png") %>
 <%= cl_image_tag(@team1.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(@team1.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(@team1.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(@team1.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(@team1.pokemon6_id.to_s+".png") %>


<h5>
<%= image_tag("http://en.vgcsets.com/flags/"+@player2.country.downcase+".png") %>
<%= t('second')%>
<% if @player2.nickname.blank? %>
<%= link_to @player2.name, :controller => "players",:action => "show",:id => @player2.id %>
<% else %>
<%= @player2.name %> 
(<%= link_to @player2.nickname, @player2 %>)
<% end %>
</h5>
  <%= cl_image_tag(@team2.pokemon1_id.to_s+".png") %>
 <%= cl_image_tag(@team2.pokemon2_id.to_s+".png") %> 
 <%= cl_image_tag(@team2.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(@team2.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(@team2.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(@team2.pokemon6_id.to_s+".png") %>



<h5>
	<% if !@tops.team3_id.nil? %>
<%= image_tag("http://en.vgcsets.com/flags/"+@player3.country.downcase+".png") %>
	Top4
<% if @player3.nickname.blank? %>
<%= link_to @player3.name, :controller => "players",:action => "show",:id => @player3.id %>
<% else %>
<%= @player3.name %> 
(<%= link_to @player3.nickname, @player3 %>)
<% end %>
</h5>
 <%= cl_image_tag(@team3.pokemon1_id.to_s+".png") %>
 <%= cl_image_tag(@team3.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(@team3.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(@team3.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(@team3.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(@team3.pokemon6_id.to_s+".png") %>	
	<% end %>
	




	<h5>
	<% if !@tops.team4_id.nil? %>
<%= image_tag("http://en.vgcsets.com/flags/"+@player4.country.downcase+".png") %>
	Top4
<% if @player4.nickname.blank? %>
<%= link_to @player4.name, :controller => "players",:action => "show",:id => @player4.id %>
<% else %>
<%= @player4.name %> 
(<%= link_to @player4.nickname, @player4 %>)
<% end %>
</h5>
 <%= cl_image_tag(@team4.pokemon1_id.to_s+".png") %> 
 <%= cl_image_tag(@team4.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(@team4.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(@team4.pokemon4_id.to_s+".png") %>
  <%= cl_image_tag(@team4.pokemon5_id.to_s+".png") %>
   <%= cl_image_tag(@team4.pokemon6_id.to_s+".png") %>	
	<% end %>
	




	<h5>
	<% if !@tops.team5_id.nil? %>
<%= image_tag("http://en.vgcsets.com/flags/"+@player5.country.downcase+".png") %>
	Top8
<% if @player5.nickname.blank? %>
<%= link_to @player5.name, :controller => "players",:action => "show",:id => @player5.id %>
<% else %>
<%= @player5.name %> 
(<%= link_to @player5.nickname, @player5 %>)
<% end %>
</h5>
 <%= cl_image_tag(@team5.pokemon1_id.to_s+".png") %>
 <%= cl_image_tag(@team5.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(@team5.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(@team5.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(@team5.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(@team5.pokemon6_id.to_s+".png") %>
	
	<% end %>
	





	<% if !@tops.team6_id.nil? %>
	<h5>
<%= image_tag("http://en.vgcsets.com/flags/"+@player6.country.downcase+".png") %>
Top8
<% if @player6.nickname.blank? %>
<%= link_to @player6.name, :controller => "players",:action => "show",:id => @player6.id %>
<% else %>
<%= @player6.name %> 
(<%= link_to @player6.nickname, @player6 %>)
<% end %>
</h5>
 <%= cl_image_tag(@team6.pokemon1_id.to_s+".png") %>
<%= cl_image_tag(@team6.pokemon2_id.to_s+".png") %>
<%= cl_image_tag(@team6.pokemon3_id.to_s+".png") %>
<%= cl_image_tag(@team6.pokemon4_id.to_s+".png") %>
<%= cl_image_tag(@team6.pokemon5_id.to_s+".png") %>
<%= cl_image_tag(@team6.pokemon6_id.to_s+".png") %>

	<% end %>
	


	<h5>
	<% if !@tops.team7_id.nil? %>
<%= image_tag("http://en.vgcsets.com/flags/"+@player7.country.downcase+".png") %>
	Top8
<% if @player7.nickname.blank? %>
<%= link_to @player7.name, :controller => "players",:action => "show",:id => @player7.id %>
<% else %>
<%= @player7.name %> 
(<%= link_to @player7.nickname, @player7 %>)
<% end %>
</h5>
  <%= cl_image_tag(@team7.pokemon1_id.to_s+".png") %>
 <%= cl_image_tag(@team7.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(@team7.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(@team7.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(@team7.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(@team7.pokemon6_id.to_s+".png") %>
	<% end %>




	<h5>
	<% if !@tops.team8_id.nil? %>
<%= image_tag("http://en.vgcsets.com/flags/"+@player8.country.downcase+".png") %>
	Top8
<% if @player8.nickname.blank? %>
<%= link_to @player8.name, :controller => "players",:action => "show",:id => @player8.id %>
<% else %>
<%= @player8.name %> 
(<%= link_to @player8.nickname, @player8 %>)
<% end %>
</h5>
<%= cl_image_tag(@team8.pokemon1_id.to_s+".png") %>
  <%= cl_image_tag(@team8.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(@team8.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(@team8.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(@team8.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(@team8.pokemon6_id.to_s+".png") %>
<br><% end %>

http://vgcsets.com


  </body>
</html>