<!DOCTYPE html>

<html>
<head>
  <title>VGCsets</title>
 

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<div id="fb-root" data-turbolinks-permanent></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

document.addEventListener("turbolinks:load", function() {
  if(window.FB) {
    FB.XFBML.parse();
  }
});
</script>

<style>
body {
    max-width: 810px;
    }
body{ padding-left: 10px; }
</style>

</head>
<body>



<h2><%= @tops.nombre_torneo %></h2>

<h4></h4>
Fecha: <%= @tops.fecha %>
<br>
Formato: <%= @tops.formato %>
<br>
País: <%= ISO3166::Country[@tops.country] %> 



<h5>1er lugar
<% @team1 = Team.find(@tops.team1_id) %>
<% @player1 = Player.find(@team1.player_id) %>

<% if @player1.nickname.blank? %>
<%= link_to @player1.name, :controller => "players",:action => "show",:id => @player1.id %>
<% else %>
<%= @player1.name %> 
(<%= link_to @player1.nickname, @player1 %>)
<% end %>
</h5>

 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team1.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team1.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team1.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team1.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team1.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team1.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>



<h5>
2do lugar
<% @team2 = Team.find(@tops.team2_id) %>
<% @player2 = Player.find(@team2.player_id) %>
<% if @player2.nickname.blank? %>
<%= link_to @player2.name, :controller => "players",:action => "show",:id => @player2.id %>
<% else %>
<%= @player2.name %> 
(<%= link_to @player2.nickname, @player2 %>)
<% end %>
</h5>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team2.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team2.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team2.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team2.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team2.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team2.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>




<h5>
	<% if !@tops.team3_id.nil? %>
	Top4
	<% @team3 = Team.find(@tops.team3_id) %>
<% @player3 = Player.find(@team3.player_id) %>
<% if @player3.nickname.blank? %>
<%= link_to @player3.name, :controller => "players",:action => "show",:id => @player3.id %>
<% else %>
<%= @player3.name %> 
(<%= link_to @player3.nickname, @player3 %>)
<% end %>
</h5>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team3.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team3.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team3.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team3.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team3.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team3.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
	
	<% end %>
	




	<h5>
	<% if !@tops.team4_id.nil? %>
	Top4
	<% @team4 = Team.find(@tops.team4_id) %>
<% @player4 = Player.find(@team4.player_id) %>
<% if @player4.nickname.blank? %>
<%= link_to @player4.name, :controller => "players",:action => "show",:id => @player4.id %>
<% else %>
<%= @player4.name %> 
(<%= link_to @player4.nickname, @player4 %>)
<% end %>
</h5>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team4.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team4.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team4.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team4.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team4.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team4.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
	
	<% end %>
	




	<h5>
	<% if !@tops.team5_id.nil? %>
	Top8
	<% @team5 = Team.find(@tops.team5_id) %>
<% @player5 = Player.find(@team5.player_id) %>
<% if @player5.nickname.blank? %>
<%= link_to @player5.name, :controller => "players",:action => "show",:id => @player5.id %>
<% else %>
<%= @player5.name %> 
(<%= link_to @player5.nickname, @player5 %>)
<% end %>
</h5>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team5.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team5.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team5.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team5.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team5.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team5.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
	
	<% end %>
	





	<% if !@tops.team6_id.nil? %>
	<h5>Top8
	<% @team6 = Team.find(@tops.team6_id) %>
<% @player6 = Player.find(@team6.player_id) %>
<% if @player6.nickname.blank? %>
<%= link_to @player6.name, :controller => "players",:action => "show",:id => @player6.id %>
<% else %>
<%= @player6.name %> 
(<%= link_to @player6.nickname, @player6 %>)
<% end %>
</h5>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team6.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team6.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team6.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team6.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team6.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team6.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
	

	<% end %>
	


	<h5>
	<% if !@tops.team7_id.nil? %>
	Top8
	<% @team7 = Team.find(@tops.team7_id) %>
<% @player7 = Player.find(@team7.player_id) %>
<% if @player7.nickname.blank? %>
<%= link_to @player7.name, :controller => "players",:action => "show",:id => @player7.id %>
<% else %>
<%= @player7.name %> 
(<%= link_to @player7.nickname, @player7 %>)
<% end %>
</h5>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team7.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team7.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team7.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team7.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team7.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team7.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
	
	<% end %>




	<h5>
	<% if !@tops.team8_id.nil? %>
	Top8
	<% @team8 = Team.find(@tops.team8_id) %>
<% @player8 = Player.find(@team8.player_id) %>
<% if @player8.nickname.blank? %>
<%= link_to @player8.name, :controller => "players",:action => "show",:id => @player8.id %>
<% else %>
<%= @player8.name %> 
(<%= link_to @player8.nickname, @player8 %>)
<% end %>
</h5>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team8.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team8.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team8.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team8.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team8.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "http://en.vgcsets.com/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @team8.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
	
<% end %><br>
		http://vgcsets.com


  </body>
</html>