<% if params.has_key?(:teams) %>
 <h2><%= ISO3166::Country[params[:teams][:country]] || "Latinoamérica" %> Top Cuts Usage Stats: </h2>
<% else %>
 <h2> Latinoamérica Top Cuts Usage Stats: </h2>
<% end %>


    <% @pokes.each_with_index do |poke,index| %>
<% if index%3==0 %>
 <div class="row">
 <% end %>
<div class="span1">
<% if @cont==1 %>
<h1><%= @cont %> </h1>
<% elsif @cont==2 %>
<h2><%= @cont %> </h2>
<% elsif @cont==3 %>
<h3><%= @cont %> </h3>
<% else %>
<h3><%= @cont %> </h3>
<% end %>

</div>
<div class="span1">
<%=  image_tag("/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => poke[0]).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png") %>
</div>
<div class="span2">
<h4><%= link_to Pokemon.find(poke[0]).name, '/teams/filter?utf8=✓&pokemon='+Pokemon.find(poke[0]).id.to_s %>, Total: <%=  poke[1] %> (<%= (poke[1]*100/@tamanio.to_f).round(2) %>%)</h4>
</div>

       
<% @cont+=1 %>     

 <% if index%3==2 or index+1 == @pokes.length %>
 </div>
 <br>
 <% end %> 
    <% end %>


 <%= paginate @pokes , :pagination_class => "pagination-centered" %>