<% if params.has_key?(:teams) %>
 <h2><%= ISO3166::Country[params[:teams][:country]] || "Latinoamérica" %> Top Cuts Usage Stats </h2>
<% else %>
 <h2> Latinoamérica Top Cuts Usage Stats </h2>
<% end %>


    <% @pokes.each_with_index do |poke,index| %>
<% if index%3==0 %>
 <div class="row">
 <% end %>
<div class="col-md-4">

<h3><%= @cont %> </h3>


 <%= cl_image_tag(poke[0].to_s+".png") %>
<h4><%= link_to Pokemon.find(poke[0]).name, '/teams/filter?utf8=✓&pokemon='+poke[0] %>, Total: <%=  poke[1] %> (<%= (poke[1]*100/@tamanio.to_f).round(2) %>%)</h4>
</div>

       
<% @cont+=1 %>     

 <% if index%3==2 or index+1 == @pokes.length %>
 </div>
 <% end %> 
    <% end %>


 <%= paginate @pokes , :pagination_class => "pagination-centered" %>