 <h2>Estadisticas:</h2>

 <table cellpadding="15">
  <thead>
    <tr>
      <th>Puesto</th>
      <th></th>
      <th>Total/Porcentaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokes.each do |poke| %>
      <tr>
        <td> <h4><%= @cont %> </h4></td>
        <td><%=  image_tag("/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => poke[0]).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png") %> </td>
        <td><h4><%= link_to Pokemon.find(poke[0]).name, '/teams/filter?utf8=✓&pokemon='+Pokemon.find(poke[0]).id.to_s %>, Total: <%=  poke[1] %> (<%= poke[1]*100/@tamanio %>%)</h4> </td>
        <td></td>        
      </tr>
      <% @cont+=1 %>
    <% end %>
  </tbody>
</table>


 <%= paginate @pokes , :pagination_class => "pagination-centered" %>