 <h2>Estadisticas para <%= ISO3166::Country[params[:teams][:country]] || "Latinoamérica" %>:</h2>

 <div class="row">
<div class="span1">
<h4>Puesto</h4>
</div>
<div class="span2">
</div>
<div class="span9">
<h4>Total/Porcentaje</h4>
</div>

 </div>      

    <% @pokes.each do |poke| %>
<div class="row">
<div class="span1">
<h4><%= @cont %> </h4>
</div>
<div class="span2">
<%=  image_tag("/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => poke[0]).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png") %>
</div>
<div class="span9">
<h4><%= link_to Pokemon.find(poke[0]).name, '/teams/filter?utf8=✓&pokemon='+Pokemon.find(poke[0]).id.to_s %>, Total: <%=  poke[1] %> (<%= poke[1]*100/@tamanio %>%)</h4>
</div>

 </div>      
<% @cont+=1 %>      
    <% end %>


 <%= paginate @pokes , :pagination_class => "pagination-centered" %>