<%= simple_form_for(@player) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :nickname %>
    <%= f.input :country, priority: ["CL", "AR", "PE", "CO", "EC","MX","CR","BO","BR"] %>
    <%= f.input :facebook %>
    <%= f.input :twitter %>
    <%= f.input :youtube %>
    <%= f.input :blog %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
