<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @player.nickname %>
</p>
<% if !@player.country.blank? %>
<p>
  <strong><%= t('country') %>:</strong>
  <%= image_tag("/flags/"+@player.country.downcase+".png") %> <%= ISO3166::Country[@player.country] %>
</p>
<% end %>
<% if !@player.facebook.blank? %>
<p>
  <strong>Facebook fanpage:</strong>
  <%= link_to @player.facebook, @player.facebook %>
</p>
<% end %>
<% if !@player.twitter.blank? %>
<p>
  <strong>Twitter:</strong>
  <%= link_to @player.twitter.gsub("https://twitter.com/","@"), @player.twitter %>
</p>
<% end %>
<% if !@player.youtube.blank? %>
<p>
  <strong>Youtube:</strong>
  <%= link_to @player.youtube, @player.youtube %>
</p>
<% end %>
<% if !@player.blog.blank? %>
<p>
  <strong>Blog:</strong>
  <%= link_to @player.blog, @player.blog %>
</p>
<% end %>

<% if current_user and (current_user.admin or current_user.mod) %> 
<%= link_to 'Editar', edit_player_path(@player), :class => 'btn btn-primary' %> 
<br>
<% end %>

<% @teams.each do |team| %>
 
<% if !Top.where(:team1_id=>team.id).empty? %>
<%= t('first')%> - 
<% @nom = Top.where(:team1_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team2_id=>team.id).empty? %>
<%= t('second')%> - 
<% @nom = Top.where(:team2_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team3_id=>team.id).empty? %>
Top4 - 
<% @nom = Top.where(:team3_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team4_id=>team.id).empty? %>
Top4 - 
<% @nom = Top.where(:team4_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team5_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team5_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team6_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team6_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team7_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team7_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team8_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team8_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% else %>
<%= team.desc %>
<% end %>

 <br>

 <%= cl_image_tag(team.pokemon1_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon2_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon3_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon4_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon5_id.to_s+".png") %>
 <%= cl_image_tag(team.pokemon6_id.to_s+".png") %>
 
<br>
 <% end %>

 <%= paginate @teams , :pagination_class => "pagination-centered" %>

<%= link_to 'Volver a lista de jugadores', players_path, :class => 'btn btn-primary' %>
