<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @player.nickname %>
</p>
<% if !@player.country.blank? %>
<p>
  <strong>País:</strong>
  <%= ISO3166::Country[@player.country] %>
</p>
<% end %>
<% if !@player.facebook.blank? %>
<p>
  <strong>Facebook fanpage:</strong>
  <%= link_to @player.facebook, @player.facebook %>
</p>
<% end %>
<% if !@player.twitter.blank? %>
<p>
  <strong>Twitter:</strong>
  <%= link_to @player.twitter.gsub("https://twitter.com/","@"), @player.twitter %>
</p>
<% end %>
<% if !@player.youtube.blank? %>
<p>
  <strong>Youtube:</strong>
  <%= link_to @player.youtube, @player.youtube %>
</p>
<% end %>
<% if !@player.blog.blank? %>
<p>
  <strong>Blog:</strong>
  <%= link_to @player.blog, @player.blog %>
</p>
<% end %>

<% @teams.each do |team| %>
 
<% if !Top.where(:team1_id=>team.id).empty? %>
1er Lugar - 
<% @nom = Top.where(:team1_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team2_id=>team.id).empty? %>
2do Lugar - 
<% @nom = Top.where(:team2_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team3_id=>team.id).empty? %>
Top4 - 
<% @nom = Top.where(:team3_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team4_id=>team.id).empty? %>
Top4 - 
<% @nom = Top.where(:team4_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team5_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team5_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team6_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team6_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team7_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team7_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% elsif  !Top.where(:team8_id=>team.id).empty? %>
Top8 - 
<% @nom = Top.where(:team8_id=>team.id).first %>
<%= link_to @nom.country+' '+@nom.nombre_torneo, :controller => "teams",:action => "show",:id => @nom.id %>
<%= @nom.fecha %>
<% else %>
<%= team.desc %>
<% end %>

 <br>
 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => team.pokemon1_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => team.pokemon2_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => team.pokemon3_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => team.pokemon4_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => team.pokemon5_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => team.pokemon6_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %>
 <br>
<% @recursos=Recurso.where(:team_id=>team.id) %>
 <% @recursos.each do |recurso| %>
   <%= link_to recurso.descripcion,recurso.url%>
   <br>
 <% end %>


<% if current_user and (current_user.admin  or current_user.mod) %> 
 <br>
<%= link_to 'Agregar recurso',:controller=>'players',:action=>'recursos_new',:id=>team.id  %>
<% end %>
<br>
 <% end %>
<% if current_user and (current_user.admin or current_user.mod) %> 
<%= link_to 'Editar', edit_player_path(@player), :class => 'btn btn-primary' %> 
<% end %>
 <%= paginate @teams , :pagination_class => "pagination-centered" %>

<%= link_to 'Volver a lista de jugadores', players_path, :class => 'btn btn-primary' %>
