<%= form_for @pokemonset, :html => { :class => 'form-horizontal' } do |f| %>
  


<div class="control-group">
  <%= f.label :specie , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :specie, options_for_select(Pokemon.order('identifier').all.map{|s|[s.identifier, s.id]}) , :class => 'text_field' %>
      </div>
</div>


  <div class="control-group">
    <%= f.label :hp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :atk, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :atk, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :def, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :def, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spatk, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spatk, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spdef, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spdef, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spd, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spd, :class => 'text_field' %>
    </div>
  </div>
<div class="control-group">
  <%= f.label :item , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :item, options_for_select(Item.order('identifier').all.map{|s|[s.identifier, s.id]}) , :class => 'text_field' %>
      </div>
</div>
  
  <div class="control-group">
    <%= f.label :nature, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nature, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ability, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ability, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :atk1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :atk1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :atk2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :atk2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :atk3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :atk3, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :atk4, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :atk4, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pokemonsets_path, :class => 'btn' %>
  </div>
<% end %>
