
<%= form_for @pokemonset, :html => { :class => 'form-horizontal' } do |f| %>
  

<% if @pokemonset.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pokemonset.errors.count, "errores") %> impidieron que se guardara el set:</h2>
 
    <ul>
    <% @pokemonset.errors.full_messages.each do |msg| %>
      <li><%=  msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :value => @pokemonset.title ,:class => 'text_field' %>
    </div>
  </div>
  <br>
<div class="control-group">
  <%= f.label :specie , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :specie, options_for_select(Pokemon.order('name').where(:local_language_id => 9).map{|s|[s.name, s.pokemon_species_id]},@pokemonset.specie), include_blank: true ,:class => 'text_field' %>
      </div>
</div>
 <div class="control-group">
  <%= f.label :ability , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :ability, options_for_select(Ability.order('name').where(:local_language_id => 9).map{|s|[s.name, s.ability_id]},@pokemonset.ability), include_blank: true , :class => 'text_field' %>
      </div>
</div>

 <br>
<div class="control-group">
  <%= f.label :item , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :item, options_for_select(Item.order('name').where(:local_language_id => 9).map{|s|[s.name, s.item_id]},@pokemonset.item), include_blank: true , :class => 'text_field' %>
      </div>
</div>
  
  <div class="control-group">
  <%= f.label :nature , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :nature, options_for_select(Nature.order('name').where(:local_language_id => 9).map{|s|[s.name, s.nature_id]},@pokemonset.nature), include_blank: true , :class => 'text_field' %>
      </div>
</div>



 <br>

            <div class="control-group">
    <%= f.label :hp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hp, :value => @pokemonset.hp ,:style => "width:30px;", :class => 'text_field' %>
    </div>
    </div>
  <div class="control-group">
    <%= f.label :atk, :value => @pokemonset.atk ,:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :atk, :style => "width:30px;" ,:class => 'text_field' %>
    </div>
 </div>
  <div class="control-group">
    <%= f.label :defe, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :defe, :value => @pokemonset.defe ,:style => "width:30px;" ,:class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spatk, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spatk, :value => @pokemonset.spatk ,:style => "width:30px;" ,:class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spdef, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spdef,:value => @pokemonset.spdef ,:style => "width:30px;" , :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spd, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spd, :value => @pokemonset.spd ,:style => "width:30px;" ,:class => 'text_field' %>
    </div>
  </div>
     
         <%= f.hidden_field :creator, :value => current_user.id %>






 
 
  
  
  <br>
 
  <div class="control-group">
  <%= f.label :move1 , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :move1, options_for_select(Move.order('name').where(:local_language_id => 9).map{|s|[s.name, s.move_id]},@pokemonset.move1) , include_blank: true, :class => 'text_field' %>
      </div>
</div>
  <div class="control-group">
  <%= f.label :move2 , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :move2, options_for_select(Move.order('name').where(:local_language_id => 9).map{|s|[s.name, s.move_id]},@pokemonset.move2), include_blank: true , :class => 'text_field' %>
      </div>
</div>
<br>
 <div class="control-group">
  <%= f.label :move3 , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :move3, options_for_select(Move.order('name').where(:local_language_id => 9).map{|s|[s.name, s.move_id]},@pokemonset.move3) , include_blank: true, :class => 'text_field' %>
      </div>
</div>
  <div class="control-group">
  <%= f.label :move4 , :class => 'control-label' %>
      <div class="controls">
  <%= f.select :move4, options_for_select(Move.order('name').where(:local_language_id => 9).map{|s|[s.name, s.move_id]},@pokemonset.move4) , include_blank: true, :class => 'text_field' %>
      </div>
</div>
  <br>
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comment, :rows => 5, :style => "width:100%;" , :class => 'text_area' %>
    </div>
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pokemonsets_path, :class => 'btn' %>
  </div>

<% end %>

