<%- model_class = Pokemonset -%>
<div class="page-header">
  <h1><%= @titulo  %>

<% if request.fullpath.split("/").third == "specie" %>
<%= image_tag "/sprites/"+params[:specie].downcase+".png" %>
<% end %>
</h1>
</div>
<table class="table table-striped">
  <thead>

<% if request.fullpath.split("/").third == "specie" %>
<h4>Base Stats:</h4>
<%= bar_chart @arreglo %>

<% end %>



  <% if flash[:notice] %>
 <div class="notice alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button> 
  <%= flash[:notice] %>
 </div>
<% end %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pokemonset_path,
            :class => 'btn btn-primary' %><br>
  </thead>
  <tbody>

 

    <% @pokemonsets.each do |pokemonset| %>
    
    <%=  pokemonset.title  %><br>

<% if current_user %>

<%= link_to likes_pokemonset_path(pokemonset.id), :remote => true, class: "btn btn-default" do %>

<div class="id<%= pokemonset.id %>">
<i class="fa fa-thumbs-up"> 
+<%=  pokemonset.get_upvotes.size %> 
</i>
</div>

<% end %>

 <%= link_to dislikes_pokemonset_path(pokemonset.id), :remote => true , class: "btn btn-default" do %>
<div class="2id<%= pokemonset.id %>" >
<i class="fa fa-thumbs-down">  
-<%=  pokemonset.get_downvotes.size%>
 </i>
 </div>
        <% end %>
 <% else %>

<%= link_to "#", :remote => true, class: "btn btn-default", disabled: "disabled" do %>

<div class="id<%= pokemonset.id %>">
<i class="fa fa-thumbs-up"> 
+<%=  pokemonset.get_upvotes.size %> 
</i>
</div>

<% end %>

 <%= link_to "#", :remote => true , class: "btn btn-default", disabled: "disabled" do %>
<div class="2id<%= pokemonset.id %>" >
<i class="fa fa-thumbs-down">  
-<%=  pokemonset.get_downvotes.size%>
 </i>
 </div>

<% end %>

<% end %>
<br>

 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemonset.specie).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %><br>

<%= Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemonset.specie).name %> @ <%= Item.find_by(:local_language_id => 9, :item_id => pokemonset.item).name %><br>
Ability: <%= Ability.find_by(:local_language_id => 9, :ability_id => pokemonset.ability).name %><br>
EVs: 
<% if pokemonset.hp != nil %>
<%= pokemonset.hp %> Hp 
<% end %>
<% if pokemonset.atk != nil %>
    <% if pokemonset.hp != nil %>
       / 
    <% end %>
 <%= pokemonset.atk %> Atk
<% end %>
<% if pokemonset.defe != nil %>
  <% if pokemonset.hp != nil or pokemonset.atk != nil %>
       / 
    <% end %>
  <%= pokemonset.defe %> Def
  <% end %>
  <% if pokemonset.spatk != nil %>
        <% if pokemonset.hp != nil or pokemonset.atk != nil or pokemonset.defe != nil %>
         / 
        <% end %>
   <%= pokemonset.spatk %> Sp.Atk
  <% end %>
  <% if pokemonset.spdef != nil %>
        <% if pokemonset.hp != nil or pokemonset.atk != nil or pokemonset.defe != nil or pokemonset.spatk != nil %>
         / 
        <% end %>
   <%= pokemonset.spdef %> Sp.Def
   <% end %>
   <% if pokemonset.spd != nil %>
        <% if pokemonset.hp != nil or pokemonset.atk != nil or pokemonset.defe != nil or pokemonset.spatk != nil or pokemonset.spdef != nil %>
         / 
        <% end %>
    <%= pokemonset.spd %> Spd
    <% end %>
<br>
<%= Nature.find_by(:local_language_id => 9, :nature_id => pokemonset.nature).name %> <%= model_class.human_attribute_name(:nature) %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move1).name %><br>
<% if not pokemonset.move2.nil? %>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move2).name %><br>
<% end %>
<% if not pokemonset.move3.nil? %>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move3).name %><br>
<% end %>
<% if not pokemonset.move4.nil? %>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move4).name %><br>
<% end %>
<%= link_to "Ver detalle del set", pokemonset_path(pokemonset) %>
<br><br>



    <% end %>
    <%= paginate @pokemonsets , :theme => 'twitter-bootstrap',
                   :pagination_class => "pagination-centered" %>
  </tbody>
</table>
</div>
<div class="span2">
<%= image_tag("/images/VGCsets_by_wanaco-d86r3jk.png") %>
<br><h1></h1>
<div id="fb-root"></div>

<div class="fb-like-box" data-href="https://www.facebook.com/vgcsets" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
<h2>Sitios de interés</h2>
<%= link_to image_tag("/images/EVOPKMN.png"), "http://www.evopokemon.com" %>
<%= link_to image_tag("/images/nugget.png"), "http://www.nuggetbridge.com" %>
<%= link_to image_tag("/images/logocbi.png"), "https://www.facebook.com/groups/pkmncbi/" %>