<%- model_class = Pokemonset -%>
<div class="page-header">
  <h1><%= @titulo  %>

<% if request.fullpath.split("/").third == "specie" %>
<%= image_tag "/sprites/"+params[:specie].downcase+".png" %>
<% end %>
</h1>
</div>



  <% if flash[:notice] %>
 <div class="notice alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button> 
  <%= flash[:notice] %>
 </div>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pokemonset_path,
            :class => 'btn btn-primary' %><br>


   
    <% @pokemonsets.each_with_index do |pokemonset,index| %>
        <%= render "loopsets", :pokemonset=>pokemonset, :index=>index %>
    <% end %> 
<%= paginate @pokemonsets , :pagination_class => "pagination-centered" %>

