<%- model_class = Pokemonset -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pokemonset_path,
            :class => 'btn btn-primary' %><br>
  </thead>
  <tbody>
    <% @pokemonsets.each do |pokemonset| %>
<%= link_to "like poke ",  likes_pokemonset_path(pokemonset.id), :remote => true %>
 <span></span>
 <%= link_to "dislike poke",  dislikes_pokemonset_path(pokemonset.id), :remote => true %>
<div class="<%= pokemonset.id %>">
+<%=  pokemonset.get_upvotes.size %>
-<%=  pokemonset.get_downvotes.size%>
</div>
 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemonset.specie).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %><br>

<%= Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemonset.specie).name %> @ <%= Item.find_by(:local_language_id => 9, :item_id => pokemonset.item).name %><br>
Ability: <%= Ability.find_by(:local_language_id => 9, :ability_id => pokemonset.ability).name %><br>
EVs: 
<% if pokemonset.hp != nil %>
<%= pokemonset.hp %> <%= model_class.human_attribute_name(:hp) %> / 
<% end %>
<% if pokemonset.atk != nil %>
<%= pokemonset.atk %> <%= model_class.human_attribute_name(:atk) %> /
<% end %>
<% if pokemonset.def != nil %>
 <%= pokemonset.def %> <%= model_class.human_attribute_name(:def) %> /
  <% end %>
  <% if pokemonset.spatk != nil %>
  <%= pokemonset.spatk %> <%= model_class.human_attribute_name(:spatk) %> /
  <% end %>
  <% if pokemonset.spdef != nil %>
   <%= pokemonset.spdef %> <%= model_class.human_attribute_name(:spdef) %> /
   <% end %>
   <% if pokemonset.spd != nil %>
    <%= pokemonset.spd %> <%= model_class.human_attribute_name(:spd) %>
    <% end %>
<br>
<%= Nature.find_by(:local_language_id => 9, :nature_id => pokemonset.nature).name %> <%= model_class.human_attribute_name(:nature) %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move1).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move2).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move3).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move4).name %><br>
<%= link_to "Ver detalle del set", pokemonset_path(pokemonset) %>
<br><br>



    <% end %>
  </tbody>
</table>

