<%- model_class = Pokemonset -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    
  </thead>
  <tbody>
    <% @pokemonsets.each do |pokemonset| %>

 <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemonset.specie).name.downcase+".png" %><br>
<%= Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemonset.specie).name %>@ <%= Item.find_by(:local_language_id => 9, :item_id => pokemonset.item).name %><br>
Ability: <%= Ability.find_by(:local_language_id => 9, :ability_id => pokemonset.ability).name %><br>
EVs: <%= pokemonset.hp %> <%= model_class.human_attribute_name(:hp) %> / <%= pokemonset.atk %> <%= model_class.human_attribute_name(:atk) %> / <%= pokemonset.def %> <%= model_class.human_attribute_name(:def) %> / <%= pokemonset.spatk %> <%= model_class.human_attribute_name(:spatk) %> / <%= pokemonset.spdef %> <%= model_class.human_attribute_name(:spdef) %> / <%= pokemonset.spd %> <%= model_class.human_attribute_name(:spd) %>
<br>
<%= Nature.find_by(:local_language_id => 9, :nature_id => pokemonset.nature).name %> <%= model_class.human_attribute_name(:nature) %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move1).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move2).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move3).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => pokemonset.move4).name %><br>
<%= link_to "Ver detalle del set", pokemonset_path(pokemonset) %>
<br><br>



    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pokemonset_path,
            :class => 'btn btn-primary' %>
