<%= javascript_include_tag 'autocomplete' %>

<%= form_tag process_search_pokemonset_path(), :method => 'get' do %>
  <p>
    <%= autocomplete_field_tag :specie, params[:id], autocomplete_pokemon_name_pokemonsets_path, {class: "search query", placeholder: "Busca un Pokémon", type: "search"} %>  

    <%= submit_tag "Buscar", :name => nil, :class => "search-me btn btn-primary" %>
  </p>
<% end %>

 <% @existing_pokemon.each do |pokemon| %>
    
 <%= link_to(
 image_tag("/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemon.pokemon_species_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png"), "/pokemonsets/process_search?specie="+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => pokemon.pokemon_species_id).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e") )%>
<% end %>


 <%= paginate @existing_pokemon , :theme => 'twitter-bootstrap',
                   :pagination_class => "pagination-centered" %>