<p id="notice"><%= notice %></p>

<p>
  <strong>Specie:</strong>
  <%= @pokemonset.specie %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @pokemonset.hp %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @pokemonset.atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @pokemonset.def %>
</p>

<p>
  <strong>Spatk:</strong>
  <%= @pokemonset.spatk %>
</p>

<p>
  <strong>Spdef:</strong>
  <%= @pokemonset.spdef %>
</p>

<p>
  <strong>Spd:</strong>
  <%= @pokemonset.spd %>
</p>

<p>
  <strong>Item:</strong>
  <%= @pokemonset.item %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @pokemonset.nature %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @pokemonset.ability %>
</p>

<p>
  <strong>Atk1:</strong>
  <%= @pokemonset.atk1 %>
</p>

<p>
  <strong>Atk2:</strong>
  <%= @pokemonset.atk2 %>
</p>

<p>
  <strong>Atk3:</strong>
  <%= @pokemonset.atk3 %>
</p>

<p>
  <strong>Atk4:</strong>
  <%= @pokemonset.atk4 %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @pokemonset.comment %>
</p>

<%= link_to 'Edit', edit_pokemonset_path(@pokemonset) %> |
<%= link_to 'Back', pokemonsets_path %>
