<%- model_class = Pokemonset -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <%= image_tag "/sprites/"+Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @pokemonset.specie).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e")+".png" %><br>
<%= Pokemon.find_by(:local_language_id => 9, :pokemon_species_id => @pokemonset.specie).name %>@ <%= Item.find_by(:local_language_id => 9, :item_id => @pokemonset.item).name %><br>
Ability: <%= Ability.find_by(:local_language_id => 9, :ability_id => @pokemonset.ability).name %><br>
EVs: 
<% if @pokemonset.hp != nil %>
<%= @pokemonset.hp %> <%= model_class.human_attribute_name(:hp) %> / 
<% end %>
<% if @pokemonset.atk != nil %>
<%= @pokemonset.atk %> <%= model_class.human_attribute_name(:atk) %> /
<% end %>
<% if @pokemonset.defe != nil %>
 <%= @pokemonset.defe %> <%= model_class.human_attribute_name(:def) %> /
  <% end %>
  <% if @pokemonset.spatk != nil %>
  <%= @pokemonset.spatk %> <%= model_class.human_attribute_name(:spatk) %> /
  <% end %>
  <% if @pokemonset.spdef != nil %>
   <%= @pokemonset.spdef %> <%= model_class.human_attribute_name(:spdef) %> /
   <% end %>
   <% if @pokemonset.spd != nil %>
    <%= @pokemonset.spd %> <%= model_class.human_attribute_name(:spd) %>
    <% end %>
<br>
<%= Nature.find_by(:local_language_id => 9, :nature_id => @pokemonset.nature).name %> <%= model_class.human_attribute_name(:nature) %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => @pokemonset.move1).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => @pokemonset.move2).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => @pokemonset.move3).name %><br>
- <%= Move.find_by(:local_language_id => 9, :move_id => @pokemonset.move4).name %><br>
  <strong><%= model_class.human_attribute_name(:comment) %>:</strong>
  <%= @pokemonset.comment %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pokemonsets_path, :class => 'btn'  %>
  
</div>
