<!DOCTYPE html>

<html>
<head>
  <title>VGCsets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:description" content="Basic Sets, Top Cuts and Player Information for Latam VGC" />
<% if params[:controller] == "pokemonsets" and params[:action] == "show" %>
  <meta property="og:site_name" content=" <%= Pokemon.find_by(:local_language_id => @language, :pokemon_species_id => @pokemonset.specie).name %> Set - <%= @pokemonset.title %>"/>
  <meta property="og:image" content="http://<%= request.host %>/sprites/<%= Pokemon.find_by(:local_language_id => @language, :pokemon_species_id => @pokemonset.specie).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e") %>.png" />
<% else %>
  <meta property="og:site_name" content="VGCsets"/>
  <meta property="og:image" content="http://www.vgcsets.com/images/VGCsets_by_wanaco-d86r3jk.png" />
<% end %>




  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= disqus_init %>

  <%= csrf_meta_tags %>
</head>
<body>



<div class="navbar navbar-inverse navbar-fixed-top"role="navigation">
    <div class="navbar-inner">  
          <div class="container-fluid">  



              <div class="navbar-header">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           
           <span class="sr-only">
                   <b>Menú</b>
                </span>
                   </a>


                 
                 <a class="navbar-brand">
                   <%= link_to t(:home), root_path, :class => 'brand' %>
                 </a> </div>




                    <div class="nav-collapse">
                <ul class="nav navbar-nav">  
                        <li><a href="/pokemonsets/best"> <%= t(:top_rated) %></a></li>
                            <li><a href="/pokemonsets/search"> Sets </a></li>

                            <li><a href="/teams"> Top cuts</a></li>
                            <li><a href="/players"> Players</a></li>

 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">  Legacy <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">




            <li><a href="/vgc16"> VGC16 </a></li>
            <li class="divider"></li>
            <li><a href="/vgc15">VGC15 </a></li>
          </ul>
        </li>



                </ul> 
               


        
   <ul class = "nav navbar-nav pull-right">

 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">  <%= t(:language) %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">




            <li><a href= <%= request.original_url.sub("es.","en.") %> > <%= t(:english) %> </a></li>
            <li class="divider"></li>
            <li><a href= <%= request.original_url.sub("en.","es.") %> > <%= t(:spanish) %> </a></li>
          </ul>
        </li>


     <li><a href="/about"> <%= t(:about_us) %> </a></li>
      <li><a href="/contacts"><%= t(:contact) %></a></li>
    
		<% if current_user %>
<li><a href="#">	<%= image_tag(current_user.image, size: '30x30', class: "img-rounded") %></a></li>
 <li><a href="#"> <%= current_user.name %></a></li>
 <li> <%= link_to t("signout"), "/logout" %></li>
<% else %>
  <li><%= link_to t(:facebook_login), "/auth/facebook" %></li>
   <li><%= link_to t(:twitter_login), "/auth/twitter" %></li>
<% end %></li>
   </ul>
 </div>
          </div>
    </div>
</div>





<div class="container-fluid">
<div class="row-fluid">

<% if current_page?('/pokemonsets/search') %>
<div class="span1">
</div>


<div class="span11">

<%= yield %>

</div>

<% elsif current_page?('/pokemonsets/new') %>

<div class="span1">
</div>


<div class="span11">


<%= yield %>

</div>

<% else %>

<div class="span1">
</div>


<div class="span8">


<%= yield %>

</div>

<div class="span2">

<%= image_tag("/images/VGCsets_by_wanaco-d86r3jk.png") %>
<br><h1></h1>
<div id="fb-root"></div>

<div class="fb-like-box" data-href="https://www.facebook.com/vgcsets" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
<h2> <%= t("related_sites") %> </h2>
<%= t("english") %>:
<%= link_to image_tag("/images/nugget.png"), "http://www.nuggetbridge.com" %>
<%= t("spanish") %>:
<%= link_to image_tag("/images/EVOPKMN.png"), "http://www.evopokemon.com" %>
<%= link_to image_tag("/images/logocbi.png"), "https://www.facebook.com/groups/pkmncbi/" %>

<% end %>



</div>

<div class="span1">
</div>

</div>
</body>
<%= render "shared/footer"%>
</html>
