<!DOCTYPE html>

<html>
<head>
  <title>VGCsets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:description" content="Basic Sets, Top Cuts and Player Information for Latam VGC" />
<% if params[:controller] == "pokemonsets" and params[:action] == "show" %>
  <meta property="og:site_name" content=" <%= Pokemon.find_by(:local_language_id => @language, :pokemon_species_id => @pokemonset.specie).name %> Set - <%= @pokemonset.title %>"/>
  <meta property="og:image" content="http://<%= request.host %>/sprites/<%= Pokemon.find_by(:local_language_id => @language, :pokemon_species_id => @pokemonset.specie).name.downcase.tr(" ", "-").tr(".", "").tr("'", "").tr("é", "e") %>.png" />
<% else %>
  <meta property="og:site_name" content="VGCsets"/>
  <meta property="og:image" content="http://www.vgcsets.com/images/VGCsets_by_wanaco-d86r3jk.png" />
<% end %>





<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<%= disqus_init %>

  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

</head>
<body>

<% image_tag("/images/VGCsets_by_wanaco-d86r3jk.png") %>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><%=t(:home)%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/teams">Top Cuts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players">Players</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Legacy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/vgc16">VGC16</a>
          <a class="dropdown-item" href="/vgc15">VGC15</a>
        </div>
      </li>
      </ul>
<ul class="navbar-nav">
 <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

<li class="nav-item">
        <a class="nav-link" href="/about"><%= t(:about_us) %></a>
      </li>
<li class="nav-item">
        <a class="nav-link" href="/contacts"><%= t(:contact) %></a>
      </li>

    <% if current_user %>
 <a class="navbar-brand" href="#">
    <img src="<%= current_user.image %>" width="30" height="30" class="d-inline-block align-top" alt=""> 
  </a><span class="navbar-text">
    <%= current_user.name %>
  </span> 
<li class="nav-item">
        <a class="nav-link" href="/logout"><%= t("signout") %></a>
      </li>

<% else %>
<li class="nav-item">
        <a class="nav-link" href="/auth/facebook"><%= t(:facebook_login) %></a>
      </li>

<li class="nav-item">
        <a class="nav-link" href="/auth/twitter"><%= t(:twitter_login) %></a>
      </li>
  <% end %></li>

    </ul>
  </div>

</nav>



<div class="container-fluid">
<div class="row-fluid">





<div class="span1">
</div>


<div class="span8">


<%= yield %>

</div>

<div class="span2">

<div id="fb-root"></div>

<div class="fb-page" data-href="https://www.facebook.com/vgcsets/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vgcsets/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vgcsets/">VGCsets</a></blockquote></div>
<h2> <%= t("related_sites") %> </h2>
<%= t("english") %>:
<%= link_to image_tag("/images/trainertower.png"), "http://www.trainertower.com" %>
<%= t("spanish") %>:
<%= link_to image_tag("/images/EVOPKMN.png"), "http://www.evopokemon.com" %>




</div>

<div class="span1">
</div>

</div>
</body>
<%= render "shared/footer"%>
</html>
