<!DOCTYPE html>

<html>
<head>
  <title>VGCsets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:description" content="Top Cuts and Player Information for Latam VGC" />
<% if params[:controller] == "pokemonsets" and params[:action] == "show" %>
  <meta property="og:site_name" content=" <%= Pokemon.find_by(:pokemon_species_id => @pokemonset.specie).name %> Set - <%= @pokemonset.title %>"/>
  <meta property="og:image" content="http://<%= request.host %>/sprites/<%= Pokemon.find_by(:pokemon_species_id => @pokemonset.specie).name.downcase.tr(" ", "-")%>.png" />
<% else %>
  <meta property="og:site_name" content="VGCsets"/>
  <meta property="og:image" content="http://www.vgcsets.com/images/VGCsets_by_wanaco-d86r3jk.png" />
<% end %>





<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<div id="fb-root" data-turbolinks-permanent></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

document.addEventListener("turbolinks:load", function() {
  if(window.FB) {
    FB.XFBML.parse();
  }
});
</script>

</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1d5c21;">
  <a class="navbar-brand" href="/"><img src="/images/VGCsets_by_wanaco-d86r3jk.png" width="40" height="40" class="d-inline-block align-top" alt=""> 
 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link active" href="/"><%= t(:home) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/teams">Top Cuts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/players"><%= t(:players) %></a>
      </li>
   
      </ul>
<ul class="navbar-nav">
 <form class="form-inline" action='/teams/filter'>
    <input class="form-control mr-sm-2" type="text" placeholder="<%= t(:search_msg)%>" aria-label="Search" name="search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
</button>
  </form>
<li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <%= t(:language) %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item active" href="<%= request.original_url.sub("es.","en.") %>"><%= t(:english)%></a>
          <a class="dropdown-item active" href="<%= request.original_url.sub("en.","es.") %>"><%= t(:spanish)%></a>
        </div>
      </li>

<li class="nav-item">
        <a class="nav-link active" href="/contacts"><%= t(:contact) %></a>
      </li>

    <% if current_user %>
 <a class="navbar-brand active" href="#">
    <img src="<%= current_user.image %>" width="30" height="30" class="d-inline-block align-top" alt=""> 
  </a>
  <li class="nav-item">
  <a class="nav-link active" href="#"><%= current_user.name %></a>
  
  </li>
<li class="nav-item">
        <a class="nav-link active" href="/logout"><%= t("signout") %></a>
      </li>

<% else %>
<li class="nav-item">
        <a class="nav-link active" href="/auth/facebook"><%= t(:facebook_login) %></a>
      </li>

<li class="nav-item">
        <a class="nav-link active" href="/auth/twitter"><%= t(:twitter_login) %></a>
      </li>
  <% end %></li>

    </ul>
  </div>

</nav>

<div class="form-group">
    &nbsp;
</div>

<div class="container-fluid">
<div class="row">




<div class="col-md-1">
</div>


<div class="col-md-8">


<%= yield %>

</div>

<div class="col-md-2">

<div id="fb-root"></div>

<div class="fb-page" data-href="https://www.facebook.com/vgcsets/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vgcsets/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vgcsets/">VGCsets</a></blockquote></div>
<h2> <%= t("related_sites") %> </h2>
<%= t("english") %>:
<%= link_to image_tag("/images/trainertower.png"), "http://www.trainertower.com" %>
<%= t("spanish") %>:
<%= link_to image_tag("/images/EVOPKMN.png"), "http://www.evopokemon.com" %>




</div>

<div class="col-md-1">
</div>

</div>
</body>
<%= render "shared/footer"%>
</html>
